---
import Layout from "../layouts/Layout.astro";
import contactMeImage from "../images/pngs/contact-me-img.png";
---

<Layout title="Abisola | About Me">
    <section>
        About me
    </section>
</Layout>

<style>
    section {
        display: flex;
        height: 100vh;
        border-bottom: 1px solid #373737;
        margin-bottom: 3rem;
    }

    section div:first-child,
    section div:nth-child(2) {
        flex-basis: 50%;
    }
</style>

<script></script>
